<h3>Estadísticas</h3>
<br>
<div class="stats">
<table>
    <tr>
        <td>Preguntas:</td>
        <td>&nbsp<%= est.preguntas %></td>
    </tr>

    <tr>
        <td>Comentarios:</td>
        <td>&nbsp<%= est.comentarios %></td>
    </tr>

    <tr>
        <td>Comentarios por pregunta:</td>
        <td>&nbsp<%= est.cmtsPreg %></td>
    </tr>

    <tr>
        <td>Preguntas sin comentarios: </td>
        <td>&nbsp<%= est.preguntasSinCom %></td>
    </tr>

    <tr>
        <td>Preguntas comentadas:</td>
        <td>&nbsp<%= est.preguntasCom %></td>
    </tr>
</table>
</div>
